In [21]:
import pandas as pd

In [22]:
all_timeseries_data = pd.read_pickle('datastore/processed_data/all_items_enhanced.pickle')
all_timeseries_data.tail()

,,index,year,period,value,footnote_codes_x,area_code,item_code,seasonal,periodicity_code,base_code,...,footnote_codes_y,begin_year,begin_period,end_year,end_period,period_abbr,period_name,periodicity_name,seasonal_code,seasonal_text
series_id,date,,,,,,,,,,,,,,,,,,,,,
CUURS000SAH2,2022-02-28,189843,2022,M02,288.797,NaN,S000,SAH2,U,R,S,...,NaN,1986,M12,2022,M02,FEB,February,Monthly,U,Not Seasonally Adjusted
CUURS000SAH1,2022-02-28,189385,2022,M02,304.242,NaN,S000,SAH1,U,R,S,...,NaN,1986,M12,2022,M02,FEB,February,Monthly,U,Not Seasonally Adjusted
CUURS000SAH,2022-02-28,188927,2022,M02,272.849,NaN,S000,SAH,U,R,S,...,NaN,1986,M12,2022,M02,FEB,February,Monthly,U,Not Seasonally Adjusted
CUURS000SAH31,2022-02-28,190918,2022,M02,99.880,NaN,S000,SAH31,U,R,S,...,NaN,2009,M12,2022,M02,FEB,February,Monthly,U,Not Seasonally Adjusted
CUURS000SASLE,2022-02-28,431134,2022,M02,309.476,NaN,S000,SASLE,U,R,S,...,NaN,1986,M12,2022,M02,FEB,February,Monthly,U,Not Seasonally Adjusted

In [23]:
#timeseries we care about
series_ids = {
    'CUUR0000SA0': '1. All Items',
    
    'CUUR0000SAF1': '1.1 Food',
        'CUUR0000SAF11': '1.1.1 Food at Home',
            'CUUR0000SAF112': '1.1.1.1 Meats, poultry, fish, and eggs',
            'CUUR0000SAF113': '1.1.1.2 Fruits and vegetables',
            'CUUR0000SAF111': '1.1.1.3 Cereals and bakery products',

        'CUUR0000SEFV': '1.1.2 Food away from Home',
            'CUUR0000SEFV02': '1.1.2.1 Limited service meals and snacks',
            'CUUR0000SEFV01': '1.1.2.1 Full service meals and snacks',

    'CUUR0000SA0E': '1.2 Energy',
        'CUUR0000SACE': '1.2.1 Energy Commodities',
        'CUUR0000SEHF': '1.2.2 Energy Services',

    'CUUR0000SA0L1E': '1.3 All items less food and energy',
        'CUUR0000SACL1E': '1.3.1 Commodities less food and energy commodities',
            'CUUR0000SATCLTB': '1.3.1.1 Transportation commodities less motor fuel',
            'CUUR0000SAH31': '1.3.1.2 Household furnishings and supplies',
            'CUUR0000SAA': '1.3.1.3 Apparel',

        'CUUR0000SASLE': '1.3.2 Services less energy services',
            'CUUR0000SAH1': '1.3.2.1 Shelter',
            'CUUR0000SAM2': '1.3.2.2 Medical care services',
            'CUUR0000SAS4': '1.3.2.3 Transportation services',
            'CUUR0000SAES': '1.3.2.4 Education and communication services',
            'CUUR0000SARS': '1.3.2.5 Recreation services'
}

for id in series_ids:

    columns_we_care_about = ['series_title', 'value']
    sub_series = all_timeseries_data.xs(id, level='series_id')[columns_we_care_about].copy()
    sub_series['yoy_inflation_rate'] = sub_series['value'].pct_change(12)
    sub_series['mom_inflation_rate'] = sub_series['value'].pct_change(1)

    sub_series.to_pickle(f'datastore/processed_data/not_seasonally_adjusted/{series_ids[id]}.pickle')
    # sub_series.to_csv(f'datastore/processed_data/not_seasonally_adjusted/{series_ids[id]}.csv')

#https://www.bls.gov/news.release/cpi.nr0.htm
#https://www.bls.gov/cpi/tables/relative-importance/2021.htm

#most recent weights and values two main rollups
# https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.bls.gov%2Fcpi%2Ftables%2Fsupplemental-files%2Fnews-release-table1-202202.xlsx&wdOrigin=BROWSELINK
# https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.bls.gov%2Fcpi%2Ftables%2Fsupplemental-files%2Fnews-release-table2-202202.xlsx&wdOrigin=BROWSELINK